<?xml version="1.0" encoding="utf-8" ?>
<unity>
  <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
  <sectionExtension type="Cedar.Core.EntLib.IoC.Configuration.AutoInterceptionConfigurationExtension, Cedar.Core.EntLib" />
  <container>
    <register type="CCN.Modules.Customer.Interface.ICustomerManagementService, CCN.Modules.Customer.Interface" mapTo="CCN.Modules.Customer.BusinessService.CustomerManagementService, CCN.Modules.Customer.BusinessService" />
    <register type="CCN.Modules.Car.Interface.ICarManagementService, CCN.Modules.Car.Interface" mapTo="CCN.Modules.Car.BusinessService.CarManagementService, CCN.Modules.Car.BusinessService" />
    <register type="CCN.Modules.Base.Interface.IBaseManagementService, CCN.Modules.Base.Interface" mapTo="CCN.Modules.Base.BusinessService.BaseManagementService, CCN.Modules.Base.BusinessService" />
    <register type="CCN.Modules.CustRelations.Interface.ICustRelationsManagementService, CCN.Modules.CustRelations.Interface" mapTo="CCN.Modules.CustRelations.BusinessService.CustRelationsManagementService, CCN.Modules.CustRelations.BusinessService" />
    <register type="CCN.Modules.DataAnalysis.Interface.IDataAnalysisManagementService, CCN.Modules.DataAnalysis.Interface" mapTo="CCN.Modules.DataAnalysis.BusinessService.DataAnalysisManagementService, CCN.Modules.DataAnalysis.BusinessService" />

    <autoInterception>
      <interceptor type="TransparentProxyInterceptor" />
    </autoInterception>
    <extension type="Interception" />
    <extension type="AutoInterception" />
  </container>
</unity>