<?xml version="1.0" encoding="utf-8"?>

<cedar.auditTrail defaultProvider="dbProvider">
  <auditLogProviders>
    <add name="dbProvider" type="Cedar.Framwork.AuditTrail.Redis.RedisAuditLogProvider, Cedar.Framwork.AuditTrail"
         server="172.16.0.204" password="" database="1" applicationName="CCN" />
  </auditLogProviders>
  <auditLogListeners>
    <add name="dbAuditLogListener"
         type="Cedar.Framwork.AuditTrail.Redis.RedisAuditLogListener, Cedar.Framwork.AuditTrail" server="172.16.0.204"
         password="" applicationName="CCN" />
  </auditLogListeners>
</cedar.auditTrail>