<?xml version="1.0" encoding="utf-8"?>

<cedar.caching defaultProvider="dbProvider">
  <cachingProviders>
    <add name="dbProvider" type="Cedar.Framwork.Caching.Redis.RedisCachingProvider, Cedar.Framwork.Caching"
         server="172.16.0.204" password="" database="3" enabled="true" expiration="120" />
  </cachingProviders>
</cedar.caching>