<?xml version="1.0" encoding="utf-8"?>

<cedar.serviceLocation defaultServiceLocator="cedardefaultServiceLocator">
  <serviceLocators>
    <add name="cedardefaultServiceLocator" type="Cedar.Core.EntLib.IoC.UnityContainerServiceLocator,Cedar.Core.EntLib" />
  </serviceLocators>
  <resolvedAssemblies>
    <add assembly="Cedar.Core" />
    <add assembly="Cedar.Core.EntLib" />
  </resolvedAssemblies>
</cedar.serviceLocation>