<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="mysqldb" connectionString="server=rds7bx66z124jf09ps7y.mysql.rds.aliyuncs.com;charset=utf8;database=productccn;uid=productadmin;pwd=Chinaccn2015;old guids=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />-->
  <add name="mysqldb" connectionString="server=172.16.0.201;charset=utf8;database=chinaccn_dev;uid=root;pwd=P@ssword0;old guids=true;Allow User Variables=True;" providerName="MySql.Data.MySqlClient" />
</connectionStrings>