<?xml version="1.0" encoding="utf-8" ?>
<cedar.settingSource defaultSettingSource="ConfigurationFileSettingSource">
  <settingSources>
    <add name="SimpleFileSettingSource" type="Cedar.Core.EntLib.SettingSource.SimpleFileSettingSource,Cedar.Core.EntLib" />
    <add name="ConfigurationFileSettingSource" type="Cedar.Core.EntLib.SettingSource.ConfigurationFileSettingSource,Cedar.Core.EntLib" />
  </settingSources>
</cedar.settingSource>