<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="cedar.settingSource" type="Cedar.Core.SettingSource.Configuration.SettingSourceSettings,Cedar.Core" />
    <section name="cedar.serviceLocation" type="Cedar.Core.IoC.Configuration.ServiceLocationSettings,Cedar.Core" />
    <section name="cedar.applicationContexts" type="Cedar.Core.ApplicationContexts.Configuration.ApplicationContextSettings, Cedar.Core" />
    <section name="cedar.auditTrail" type="Cedar.Framwork.AuditTrail.Configuration.AuditTrailSettings, Cedar.Framwork.AuditTrail" />
    <section name="cedar.caching" type="Cedar.Framwork.Caching.Configuration.CachingSettings, Cedar.Framwork.Caching" />
  </configSections>
  <!--cedar.settingSource-->
  <cedar.settingSource defaultSettingSource="SimpleFileSettingSource">
    <settingSources>
      <add name="SimpleFileSettingSource" type="Cedar.Core.EntLib.SettingSource.SimpleFileSettingSource,Cedar.Core.EntLib" />
      <add name="ConfigurationFileSettingSource" type="Cedar.Core.EntLib.SettingSource.ConfigurationFileSettingSource,Cedar.Core.EntLib" />
    </settingSources>
  </cedar.settingSource>
  <connectionStrings configSource="ConfigFiles\connectionStrings.config" />
  <unity configSource="ConfigFiles\unity.config" />
  <cedar.serviceLocation configSource="ConfigFiles\serviceLocation.config" />
  <cedar.applicationContexts configSource="ConfigFiles\applicationContexts.config" />
  <cedar.auditTrail configSource="ConfigFiles\auditTrail.config" />
  <cedar.caching configSource="ConfigFiles\caching.config" />
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <!--cedar.settingSource test-->
  
  <appSettings>
    <!--wechat-->
    <!--<add key="hostip" value="10.252.137.175:9090" />
    <add key="wechattoken" value="weixin" />
    <add key="APPID" value="wx8237977d5ac3d164" />
    <add key="AppSecret" value="9dde5c8a66b2c712b6d4b2ab8c7c5173" />
    <add key="wechat_tokenip" value="10.117.176.141" />
    <add key="wechat_tokendb" value="4" />
    <add key="wechat_tokenpassword" value="" />-->

    <add key="hostip" value="localhost:9090" />
    <add key="wechattoken" value="weixin" />
    <add key="APPID" value="wx8237977d5ac3d164" />
    <add key="AppSecret" value="9dde5c8a66b2c712b6d4b2ab8c7c5173" />
    <add key="wechat_tokenip" value="172.16.0.204" />
    <add key="wechat_tokendb" value="4" />
    <add key="wechat_tokenpassword" value="" />
    <!--wechat end-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>-->
</configuration>