
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>礼券编辑</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/common.js"></script>
    <style type="text/css">
        

        .margintop {
            margin-top: 10px;
        }
    </style>
    <script type="text/javascript">

        var id = "@ViewBag.innerid";

        $(function() {

            setCookie(); //设置cookie
            Init();
            RadioClick();
        });

        function Init() {

            if (id === "") {
                return;
            }

            $.ajax({
                url: '/api/Customer/GetCouponById?innerid=' + id,
                type: 'get',
                datatype: 'application/json',
                async: false,
                success: function(data) {

                    if (data.errcode !== 0) {
                        alert("获取数据异常！");
                    }

                    console.log(data);

                    var obj = data.errmsg;
                    $("#title").val(obj.Title);
                    $("#logo").val(obj.Logourl);
                    $("#amount").val(obj.Amount);
                    
                    $("#count").val(obj.Maxcount + "/" + obj.Count).prop("disabled", true).parent().prev().html("当前库存");
                    $("#codetype").val(obj.Codetype);

                    $("#vtypeTd")
                        .children().prop("disabled", true)
                        .children().prop("disabled", true);
                    $("input[name='radiotype'][value=" + obj.Vtype + "]").prop("checked", true);

                    if (obj.Vtype === 1) {
                        $("#radiotype1").removeClass("hide");
                        $("#radiotype2").addClass("hide");
                        $("#vstart").val(Dateformat(obj.Vstart, "yyyy-MM-dd"));
                        $("#vend").val(Dateformat(obj.Vend, "yyyy-MM-dd"));
                    } else {
                        $("#radiotype1").addClass("hide");
                        $("#radiotype2").removeClass("hide");
                        $("#value1").val(obj.Value1);
                        $("#value2").val(obj.Value2);
                    }

                }
            });
        }

        function Submit() {

            var vtype = $("input:radio[name='radiotype']:checked").val();
            var json = {
                Title: $("#title").val(),
                Logourl: "",
                Amount: $("#amount").val(),
                Vtype: vtype,
                Maxcount: $("#count").val(),
                Codetype: $("#codetype").val()
            };

            if (vtype === "1") { //有效时间范围
                json.Vstart = $("#vstart").val();
                json.Vend = $("#vend").val();
            } else {//起效/有效天数
                json.Value1 = $("#value1").val();
                json.Value2 = $("#value2").val();
            }

            if (json.Title === "") {
                alert('请填写标题'); return false;
            }

            if (json.Amount === "") {
                alert('请填写面值【整数】'); return false;
            }

            if (json.Vtype == undefined) {
                alert('请选择有效期类型'); return false;
            }

            if (json.Vtype === "1") {
                if (json.Vstart === "" || json.Vend === "") {
                    alert('请选择有效期开始时间和结束时间！'); return false;
                }
            }
            else if (json.Vtype === "2") {
                if (json.Value1 === "" || json.Value2 === "") {
                    alert('请填写起效和有效天数【整数】！'); return false;
                }
            }

            if (json.Maxcount === "") {
                alert('请填写最大库存【整数】'); return false;
            }

            if (json.Codetype === "") {
                alert('请填写Code展示类型【参考说明】'); return false;
            }

            var result;
            uploadfile("logourl", 1024 * 2, "", function (res) {
                result = res;
            });

            if (result === "0") {
                alert('请上传图片');
                return false;
            } else if (result === "-1") {
                alert('图片格式不正确');
                return false;
            } else if (result === "-2") {
                alert('上传异常');
                return false;
            } else if (result === "-3") {
                alert('文件大小超出');
                return false;
            }

            json.Logourl = result;
            
            if (id === "") {
                $.post("/api/Customer/AddCoupon", json, function(result) {
                    var str = result.errcode === 0 ? "添加成功" : "添加失败";
                    alert(str);
                    //location.href = "/customer/customer/couponlist";
                });
            } else {

                json.Innerid = id;
                $.ajax({
                    url: '/api/Customer/UpdateCoupon',
                    type: 'put',
                    datatype: 'application/json',
                    data: json,
                    async: false,
                    success: function(result) {
                        var str = result.errcode === 0 ? "更新成功" : "更新失败";
                        alert(str);
                        location.href = "/customer/customer/couponlist";
                    }
                });
            }
        }

        var RadioClick = function () {

            $("input[name*='radiotype']").click(function () {

                if ($(this).val() === "1") {
                    $("#radiotype1").removeClass("hide");
                    $("#radiotype2").addClass("hide");
                } else {
                    $("#radiotype1").addClass("hide");
                    $("#radiotype2").removeClass("hide");
                }

            });
        }

    </script>
</head>
<body>
<div>
    <div style="font-size:18px;font-weight:bold;text-align:center">礼券编辑</div>
    <table id="coupon" class="gridtable">
        <tbody>
            <tr>
                <td>标题</td>
                <td id="">
                    <input type="text" id="title"/>
                </td>
            </tr>
            <tr>
                <td>Logo</td>
                <td id="">
                    @*<input type="text" id="logo"/>*@
                    <input type="file" id="logourl" />
                </td>
            </tr>
            <tr>
                <td>面值</td>
                <td id="">
                    <input type="datetime" id="amount" />
                </td>
            </tr>
            <tr>
                <td>有效期</td>
                <td id="vtypeTd">
                    <input type="radio" name="radiotype" id="t1" value="1"/>
                    <label for="t1">有效日期</label>
                    <input type="radio" name="radiotype" id="t2" value="2" />
                    <label for="t2">有效天数</label>
                    <br/>
                    <div id="radiotype1" class="margintop hide">
                        <input id="vstart" class="Wdate" type="text" placeholder="开始日期" onclick="WdatePicker({ minDate: '%y-%M-%d', dateFmt: 'yyyy-MM-dd', isShowToday: false })">-
                        <input id="vend" class="Wdate" type="text" placeholder="结束日期" onclick="WdatePicker({ minDate: '%y-%M-%d', dateFmt: 'yyyy-MM-dd',  isShowToday: false })">
                    </div>
                    <div id="radiotype2" class="margintop hide" style="margin-top: 10px">
                        <input type="number" id="value1" placeholder="领取后多少天开始生效" maxlength="3" /> -
                        <input type="number" id="value2" placeholder="有效天数" maxlength="5" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>最大库存</td>
                <td id="">
                    <input type="text" id="count" maxlength="8" />
                </td>
            </tr>
            <tr>
                <td>Code展示类</td>
                <td id="">
                    <input type="text" id="codetype"/> <a href="javascript:;" onclick="$('#openDiv').removeClass('hide');">说明</a>
                    <div id="openDiv" class="margintop hide">
                        Code展示类型，<br/>
                        "CODE_TYPE_TEXT"：文本；<br />
                        "CODE_TYPE_BARCODE"：一维码；<br />
                        "CODE_TYPE_QRCODE"：二维码；<br />
                        "CODE_TYPE_ONLY_BARCODE"：一维码无code显示；<br />
                        "CODE_TYPE_ONLY_QRCODE"：二维码无code显示；
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="保存" onclick="Submit()"/>
                    <input type="button" value="返回" onclick="self.location=document.referrer;" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
